{% extends 'layout.html' %}

{% block title %}{{ dbName }}{% endblock %}

{% block breadcrumb %}
<li>
  <a href="">Home</a>
  <span class="divider">/</span>
</li>
<li class="active">
  {{ dbName }}
</li>
{% endblock %}


{% block content %}
<h2>Create Collection</h2>
<form class="well form-inline" method="POST">
    <div class="input-prepend">
      <span class="add-on">{{ dbName }} . </span>
      <input class="input-medium" type="text" id="collection" name="collection" placeholder="Collection Name" title="Collection Name">
    </div>
  <button type="submit" class="btn btn-primary">
  <i class="icon-folder-open icon-white"></i>
  Create collection
  </button>
</form>

<script>
  $('#collection').popover({content: "Collection names must begin with a letter or underscore, and can contain only letters, numbers, underscores and dots."});
</script>


<h2>Collections</h2>
<table class="table table-bordered table-striped table-condensed">
  {% for c in colls %}
  <tr>
    <td class="span2">
      <a href="db/{{ dbName }}/{{ c }}" class="btn btn-success span2">
        <i class="icon-list-alt icon-white"></i> View
      </a>
    </td>
    <td><h3><a href="db/{{ dbName }}/{{ c }}">{{ c }}</a></h3></td>
    <td class="span2">
      <form method="POST" action="db/{{ dbName }}/{{ c }}" style="margin: 0px;">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger span2">
          <i class="icon-trash icon-white"></i>
          Delete
        </button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>


<h2>Manage File</h2>
<table >
  <tr>
    <td>
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#uploadFileModal">Launch modal</button>
    </td>
  </tr>
</table>
{{file_list}}



<!----****************- start Form ---->
<iframe id="upload_target" 	name="upload_target" 	style="width:0;height:0;border:0px solid #fff;"> </iframe>  
<form id="file_upload_form" method="post" enctype="multipart/form-data" action="/gridstore/{{ dbName }}" target="upload_target" class="form-horizontal">                  
  <div class="modal hide fade" id="uploadFileModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>File Uploader</h3>
    </div>
    
    <div class="modal-body">                         	                
      <div class="span5">
        <span class="span2">
          <input class="span2" type="text" placeholder="Description" ng-model="title" name="title">        
        </span>
        <span class="btn btn-success fileinput-button span2">
          <i class="icon-plus icon-white"></i>
            <span>Select File</span>
              <input type="file" name="file" id="file" onchange="angular.element(this).scope().setFile(this)"/>
            </span>                
      </div>
            
      <div class="span5">        
        <ul class="span5">
          <li ng-repeat="file in file_item.files">{{file.filename}} </li>
        </ul>
      </div>
      <div class="span5">        
        <span>
          <span ng-show="theFile">
            <i class="icon-file"></i>{{theFile.name}}
          </span>    
          <span ng-switch on="success" >                
            <span ng-switch-when="false">
              <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Error!</h4>
                  {{message}}
              </div>
            </span>  
            <span ng-switch-default></span>              
          </span>
        </span>              
      </div>
    </div>
   
    <div class="modal-footer">                    
      <button type="submit" class="btn btn-primary start">
        <i class="icon-upload icon-white"></i>
        <span>Start Upload</span>
      </button>                                
    </div>
  </div>


</form>
{% endblock %}
